<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>    
</head>
<body>

    <header>
    <%- include('./partials/header') %>
    </header>

    <main class="userProfile">
        <h3>Perfil de usuario</h3>
        <p>ID: <%= locals.user.id %> </p>
        <p>Nombre: <%= locals.user.fullName %> </p>
        <p>Email: <%= locals.user.email %>  </p>
        <p>Género: <%= locals.user.gender %></p>
        <img src="/img/avatars/<%= user.avatar %>" width="300">
        
        <button class="loginButton"><a href="/user/<%= user.id %>/edit">Editar perfil</a></p>
    </main>

    <footer>
        <%- include('./partials/footer') %>    
    </footer> 
    
</body>
</html>