<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>    
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <main class="mainManage">
        <div class="subtitle">
            <p class="description">Agregá un nuevo producto al listado.</p>
        </div>
        <form action="/product" method="post" enctype="multipart/form-data">
            <div class="formLeft">
                <div class="ourInputs">
                    <label for="productName">Nombre de producto</label>
                    <input type="text" name="productName" id="productName" placeholder="Ingresá el nombre">
                    <span class="feedback"></span>
                </div>
                <div class="ourInputs">
                    <label for="productDescription">Descripción</label>
                    <input type="text" name="productDescription" id="productDescription" placeholder="Describí el producto para tus clientes">
                    <span class="feedback"></span>
                </div>
        
                <div class="ourInputs">
                    <label for="productCategory">Categoría</label>
                    <select class="productCategory" name="productCategory">
                        <option value="" disabled selected>Selecciona</option>
                        <% for (let i = 0; i < categories.length; i++) { %> 
                            <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                            <% } %>
                    </select>
                </div>
            </div>
            <div class="formRight">
                <div class="ourInputs">
                    <label for="productPrice">Precio</label>
                    <input type="text" name="productPrice" id="productPrice" placeholder="$.-">
                    <span class="feedback"></span>
                </div>
                <div class="ourInputs">
                    <label for="imageUpload">Subir imagen</label>
                    <input type="file" id="imageUpload" name="imageUpload" placeholder="Seleccionar archivo">
                    <span class="feedback"></span>
                </div>
                <div class="bottomForm">
                    <div class="ourCheckbox">
                        <input type="checkbox" id="masBuscado" name="masBuscado" checked>
                        <label for="masBuscado">Artículo más buscado</label>
                    </div>
                    <div class="loginButton">
                        <button type="submit"> Publicar </button>
                    </div>
                </div>
            </div>
        </form>      
    </main>

    <footer>
        <%- include('./partials/footer') %>    
    </footer> 
</body>
</html>