<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <main class="mainManage">
        <div class="subtitle">
            <p class="description">Editá este producto del listado.</p>
        </div>
        <form action="/product/<%= product.id %>/edit" method="post">
            <div class="formLeft">
                <div class="ourInputs">
                    <label for="productName">Nombre de producto</label>
                    <input type="text" name="productName" id="productName" required placeholder="Ingresá el nombre" value="<%= product.productName %>">
                    <span class="feedback"></span>
                </div>
                <div class="ourInputs">
                    <label for="productDescription">Descripción</label>
                    <input type="text" name="productDescription" id="productDescription" required placeholder="Describí el producto para tus clientes" value="<%= product.description %>">
                    <span class="feedback"></span>
                </div>
        
                <div class="ourInputs">
                    <label for="productCategory">Categoría</label>
                    <select class="productCategory" name="productCategory" required>
                   
                        
                        <% for (let i = 0; i < categories.length; i++) { %> 
                            <option value="<%= categories[i].id %>" <% if (categories[i].id == product.categoryId) { %> selected <% } %>><%= categories[i].name %></option>
                            <% } %>
                    </select>
                </div>
            </div>
            <div class="formRight">
                <div class="ourInputs">
                    <label for="productPrice">Precio</label>
                    <input type="text" name="productPrice" id="productPrice" required placeholder="$.-" value="<%= product.price %>">
                    <span class="feedback"></span>
                </div>
                <div class="ourInputs">
                    <label for="imageUpload">Subir imagen</label>
                    <img src="/img/prodImages/<%= product.image %>" width="300"> 
                    <input type="file" id="imageUpload" name="imageUpload" placeholder="Seleccionar archivo" >
                    <span class="feedback"></span>
                </div>
                <div class="bottomForm">
                    <div class="ourCheckbox">
                        <input type="checkbox" id="masBuscado" name="masBuscado" checked>
                        <label for="masBuscado">Artículo más buscado</label>
                    </div>
                    <div class="loginButton">
                        <button type="submit"> Publicar </button>
                    </div>
                </div>
            </div>
        </form>      
    </main>

    <footer>
        <%- include('./partials/footer') %>    
    </footer> 
</body>
</html>