<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>    
</head>
<body>
    <%- include('../partials/header') %>

    <h1>Carrito de Compras</h1>
<main class="mainCarrito">


<section class="productosCarrito">
    <% let total = 0; %>
    <% for (let i = 1; i <= 4; i++) { %>
        <section class="productoSelect">
            <div class="img-container">
                <img src="/img/prodImages/dientes.jpg">
            </div>
            <div class="precioCart">
                <h1>Producto <%= i %></h1>
                <h2>Precio: $<%= i * 25.99 %></h2>
                <% total += i * 25.99; %>
                <p>Cantidad: <% i %></p>
            </div>
            <div class="product-buttons">
                <div class="primary">
                    <button>Comprar</button>
                </div>
                <div class="secondary">
                    <button>Eliminar</button>
                </div>
            </div>
        </section>
    <% } %>
</section>

<section class="carritoSummary">
    <h2>Resumen de tu compra</h2>
    <div class="subtotal">
        <p>Subtotal:</p>
        <p>$<%= total.toFixed(2) %></p>
    </div>
    <div class="total">
        <p>Total:</p>
        <p>$<%= total.toFixed(2) %></p>
    </div>
    <div class="checkout-button">
        <button>Ir al Pago</button>
    </div>
</section>
</main>
<%- include('../partials/footer') %>
</body>
</html>