<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <article class="productDetail">
            
                    <section class="productoDetalle">
                    <div class="img-container-detail"><img src="/img/prodImages/<%=products.image%>" width="300px"></div>
                    
                    <div class="descripcion">
                        <div class="precio">
                            <h2>$ <%= products.price %></h2>
                            <p><%= products.masBuscado %></p>
                        </div>
                        <h4><%= products.productName %></h4>
                        <p><%= products.description %></p>
                        <p><%= products.category.name %></p>
                    </div>
    
                </section>
           
        </article>
        <section>
            <h1>Los mas buscados</h1>
            <%- include('.'+'./partials/destacados') %>
        </section>   
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>
</html>
