<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/planeta.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Cosmética</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1abdb540d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <article class="productDetail">
            
            
                <section class="producto">
                    <div class="img-container"><img src="/img/prodImages/<%=products.image%>"></div>
                    <div class="precio">
                        <h2>$ <%= products.price %></h2>
                        <p><%= products.masBuscado %></p>
                    </div>
                    <div class="descripcion">
                        <h4><%= products.productName %></h4>
                        <p><%= products.description %></p>    
                </section>
           
        </article>
        <section>
            <h1>Los mas buscados</h1>
            <%- include('.'+'./partials/destacados') %>
        </section>   
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>
</html>
