<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/planeta.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Cosmética</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1abdb540d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../partials/header') %>

    <h1>Carrito de Compras</h1>
<main class="mainCarrito">


<section class="productosCarrito">
    <% let total = 0; %>
    <% for (let i = 1; i <= 4; i++) { %>
        <section class="productoSelect">
            <div class="img-container">
                <img src="/img/prodImages/dientes.jpg">
            </div>
            <div class="precioCart">
                <h1>Producto <%= i %></h1>
                <h2>Precio: $<%= i * 25.99 %></h2>
                <% total += i * 25.99; %>
                <p>Cantidad: <% i %></p>
            </div>
            <div class="product-buttons">
                <div class="primary">
                    <button>Comprar</button>
                </div>
                <div class="secondary">
                    <button>Eliminar</button>
                </div>
            </div>
        </section>
    <% } %>
</section>

<section class="carritoSummary">
    <h2>Resumen de tu compra</h2>
    <div class="subtotal">
        <p>Subtotal:</p>
        <p>$<%= total.toFixed(2) %></p>
    </div>
    <div class="total">
        <p>Total:</p>
        <p>$<%= total.toFixed(2) %></p>
    </div>
    <div class="checkout-button">
        <button>Ir al Pago</button>
    </div>
</section>
</main>
<%- include('../partials/footer') %>
</body>
</html>